body {
    padding: 0;
    background-color: whitesmoke;
}

.container {
    margin:0  auto;
    border-collapse: 2px solid black;
    height: 430px;
    width: 700px;
    margin-top: 127px;
    border-radius: 10px;
    box-shadow: 1px 0px 20px 2px rgb(0, 0, 0, 0.4);
}

.container1 {
    border-collapse: 2px solid collapse;
    height: 430px;
    width: 330px;
    border-radius: 10px;
    
    background: linear-gradient(hsl(252, 67%, 60%), hsl(241, 81%, 54%));
}

h4 {
    color: #fff;
    padding-top: 50px;
    
    text-align: center;
}

h6 {
    color: #fff;
}

.box {
    padding: 50px;
    width: 74px;
    height: 74px;
    border-radius: 100%;
    background: linear-gradient(hsl(241, 81%, 54%), hsl(252, 100%, 67%));
    box-shadow: inset 1px 1px 12px 0px rgb(61, 24, 193);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 0 auto;
}

h6 {
    margin-top: -36px;
}

h1 {
    color: whitesmoke;
    padding: 10px;
}

h3 {
    margin-top: 15px;
    color: white;
    text-align: center;
}

.para{
    color: white;
    margin-top: -5px;
    text-align: center;
    font-size: 15px;
}

.header {
    color: black;
    margin-top: -406px;
    margin-left: 130px;
}
.dynamic-boxes {
    margin-left: 460px;
    margin-top: -3px;
}
    .box1 {
        display: flex;
        margin: 10px 360px;
        justify-content: space-between;
        align-items: center;
        margin-bottom: 10px;
        padding: 10px;
        border-radius: 10px;
        width: 260px;
        box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.2);
    }
    .right-container {
        display: flex;
        position : relative;
        flex-direction: column; 
        padding: 20px; 
    }
    
.left2 {
    display: flex;
    align-items: center;
}

.content {
    margin-left: 10px;
}

.right2 {
    display: flex;
    align-items: center;
}

.content2 {
    font-weight: bold;
    margin-right: 5px;
}

.marks {
    color: grey;
}

.box5{
    margin-top: 280px;
  padding: 15px 30px;
  border: none;
  color: white;
  outline: none;
  background-color: hsl(224, 30%, 27%);
  width: 260px;
  margin-left: 365px;
  border-radius: 20px;
  position: absolute;
  top: 200px;
  margin-left: 390px;
  font-weight: bold;
}
.box5:hover{
    background-color: blue;
    color: white;
    font-weight: bold;
}
@media (max-width: 375px) {
    * {
     margin: 0;
    }
    h1 {
     margin-bottom: 35px;
     position: absolute;
    }
    h6{
        margin-top: auto;
    }
    h4,h3{
        margin-bottom: 20px;
    }
    .right-container {

        margin-top: 10px;
    }
    .dynamic-boxes {
        margin-left: 0;
        margin-top: 0;
    }
     .button {
         width: 250px;
         height: 50px;
         margin-top: 10px;
         margin-left: auto;
         margin-right: auto;
     }
 }
